<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Polytech Job{% endblock %}</title>
    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
crossorigin="anonymous"/>
        {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}" /> 
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
<img src="{{asset('images/pic.jfif')}}" title="my image" alt="My image"
width="150" height="150">
<h1 class="text-center">
{% block titre %}Bienvenue à polytech Job Search{% endblock %}
</h1>
        {% block body %}{% endblock %}
    </body>
</html>
